.recent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-right: 20px;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
}

.recent-container-sticky {
  position: sticky;
  top: 64px;
}

.recent {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.recent-title {
  font-weight: bold;
}
.recent-sub {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.followed-groups {
  margin-top: 20px;
  width: 100%;
}
.followed-group-title {
  color: rgb(12 103 194);
  font-weight: bold;
}
.group-sub {
  display: flex;
  align-items: center;
  margin-top: 6px;
}
.group-name {
  margin-left: 6px;
  font-size: 0.8rem;
}

.see-all {
  display: flex;
  justify-content: center;
  margin-top: 6px;
}

.events {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.events-title {
  color: rgb(12 103 194);
  font-weight: bold;
}

.hashtags {
  width: 100%;
  margin-top: 20px;
}

.followed-hashtags {
  color: rgb(12 103 194);
  font-weight: bold;
}
