.addfeed-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.addfeed-first-row {
  display: flex;
  justify-content: space-between;
}

.addfeed-title {
  font-weight: bold;
}

.recommend-sub {
  display: flex;
  margin-top: 12px;
}

.recommend-info {
  margin-left: 12px;
  justify-content: center;
}

.recommend-name {
  font-weight: bold;
}

.follow-buttom {
  margin-top: 6px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 0.01rem solid;
  background-color: white;
  height: 30px;
  width: 80px;
  justify-content: center;
}
